html, body {
  margin: 0;
  padding: 20px;
  height: 100%;
}

body {
  color: #0D1B5B;
  background-color: #DDE3FB;
  font-family: 'Lobster', 'cursive';
} 

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table{
  border-collapse: collapse;
  width: 60%;
  height: 300px;
  background-color: #B7C7F9;
}

td{
  border: 3px solid #FFFFFF;
  width: 120px;
  height: 150px;
  text-align: center;
}

/* removing top border of the table */

/* selecting the first and last rows and removing the top and bottom borders respectively */
tr:nth-child(1) td{
  border-top-style: none;
}

/* removing bottom border of the table */
tr:nth-child(3) td{
  border-bottom-style: none;
}

/* removing left border of the table */

/* taking the rows and selecting the first columns, removing the left side border */
tr td:nth-child(1){
  border-left-style: none;
}

/* removing right border of the table */

/* taking the rows and selecting the last columns, removing the right side border */
tr td:nth-child(3){
  border-right-style: none;
}

/* default of congratulatory message is hidden */
aside{
  visibility: hidden;
}

button{
  color: #0D1B5B;
  background-color :#B7C7F9;
  border-style: none;
}

.osquare{
  color: #DC48BA;
  font-weight: bold;
  font-size: 100px;
}

.xsquare{
  color: #222EC1;
  font-weight: bold;
  font-size: 100px;
}